<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proxy checker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    
</head>
<body>
    <header class="head">
        <div class="titulo">
            <h1>Proxy Checker</h1>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="lista" class="navbar-nav">
                <a type="button" class="btn btn-info btn-lg" href="proxies" target="_blank">Proxy List</a>
                <a type="button" class="btn btn-info btn-lg" href="http://proxydb.net/extractor"target="_blank">Proxy Extractor</a>
            </ul>
        </nav>
    </header>
    <main>
        <section class="forma">
            <form class="form" method="post" action="">
                <div class ="proxy-area">
                    <textarea id ="textare" name="proxy-container" rows="18" cols="40" placeholder="Insert your proxies here example: 192.0.1:80" style="resize: none;"></textarea>
                </div>
                <button id = "submit"type ="submit" name="check" >Check</button>
            </form>
            <div class="loader"></div>
            <form class="form">
                <textarea  id="proxy-lives" rows="18" cols="40" placeholder="Working proxies will appear here" style="resize: none;"></textarea>
                <button onclick="Copy()" id="copy">Copy</button>
            </form>
        <section>
    </main>
    <footer>

    </footer>

    <div class="container-modal">
        <form class ="proxy-get-lives"method="GET" action="" id="forma-get">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <textarea id="proxies" id="" cols="50" rows="20">{{listproxylist}}</textarea>
                    </div>
                    <button style="margin-left: 15px; padding:0px;" type="submit" class="btn btn-info btn-lg">Get Proxies</button>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </form>
    </div>
</body>
<script src="/static/js/boosts.js"></script>
</html>