<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proxies</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        *{
            font-family: 'Roboto', sans-serif;
        }
        table, th, td{
          border: 1px solid black;
          border-collapse: collapse;
        }
        thead{
            text-align: center;
        }
        tr {
        border-bottom: 1pt solid gray;
        }

        </style>
</head>
<body>
    <table style="border: 1px solid black;" class="table table-dark">
        <thead scope="col">
            <tr>
                <th scope="col">Proxies</th>
            </tr>
        </thead>
        <tbody id="tabla">

        </tbody>
    </table>
</body>
<script>

    var tabla = document.getElementById("tabla")

    var url = '{{proxies}}'
    var z = url.split('\n')
    function GenerarTabla() {
        for (var i = 0; i < z.length; i++) {
            var fila = document.createElement('tr')
            fila.innerHTML = z[i]
            tabla.appendChild(fila)
        }
    }
    GenerarTabla()


</script>
</html>